$color: (
  primary: #529a81,
  light: #fff,
  error: #cf0000,
  hover: #256750,
  bg: (
    muted: #fafafa
  ),
  border: (
    muted: #e0e0e0,
    table: #f2f2f2
  ),
  font: (
    muted: #828282,
    text: #333333,
    primary: #529a81,
    light: #ffffff
  ),
  opacity: (
    primary: rgba(#529a81, 0.4)
  ),
  gray: (
    1: #333333,
    2: #505050,
    3: #828282,
    4: #bdbdbd,
    5: #e0e0e0,
    6: #f2f2f2,
    7: #fafafa
  ),
  shadow: rgba(0, 0, 0, 0.1)
);

$padding: (
  action: 1rem 1.5rem,
  input: 0.75rem,
  main: 2rem,
  section: 1rem,
  thead: 1rem,
  icon: 0.25rem,
  btn: 1rem 1.5rem
);

$margin: (
  item: 1rem,
  text: 0.25rem,
  icon: 0.25rem,
  block: 2rem
);

$height: (
  line: 0.125rem,
  action: 2.75rem,
  icon: 1.25rem
);

$radius: (
  action: 1rem,
  block: 0.5rem,
  main: 2rem,
  section: 1rem,
  input: 0.5rem,
  btn: 100000rem
);

$border: (
  input: 0.0625rem solid
    map-get(
      $map: map-get($color, border),
      $key: muted
    )
);

$shadow: (
  block: 0 0 1rem 0
    map-get(
      $map: $color,
      $key: shadow
    ),
  table: 0 0 0 0.00625rem
    map-get(
      $map: map-get($color, border),
      $key: table
    ),
  focus: 0 0 0 0.3rem
    map-get(
      $map: map-get($color, opacity),
      $key: primary
    )
);

$weight: (
  normal: 400,
  bold: 500
);

$transition: (
  default: 0.3s
);

@mixin category() {
  $col-red: #e29292;
  $col-yel: #d5b943;
  $col-blue: #61b8bf;
  $col-green: #529a81;
  @media screen {
    &[data-color="all"] {
      background: $col-green !important;
      border: 1px solid $col-green !important;
      color: #fff !important;
    }
    &[data-color="1"] {
      background: $col-red !important;
      border: 1px solid $col-red !important;
    }
    &[data-color="2"] {
      background: #d5b943 !important;
      border: 1px solid $col-yel !important;
    }
    &[data-color="0"] {
      background: #61b8bf !important;
      border: 1px solid $col-blue !important;
    }
  }
}

@mixin text-truncate($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin interaction($el) {
  @if $el == btn {
    &:focus,
    &:active {
      box-shadow: map-get($map: $shadow, $key: focus);
    }
  }
  @if $el == block {
    transition: map-get($map: $transition, $key: default);
    &:hover {
      box-shadow: map-get($map: $shadow, $key: block);
    }
  }
}

@mixin font($el) {
  @if $el == text {
    font-size: 1.125rem;
    color: map-get($map: map-get($color, font), $key: text);
  }
  @if $el == title {
    font-size: 1.125rem;
    font-weight: map-get($map: $weight, $key: bold);
  }
  @if $el == subtext {
    font-size: 1rem;
    color: map-get($map: map-get($color, font), $key: muted);
  }
}

@mixin scrollbar($style) {
  @if $style == hidden {
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes slideRight {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translateX(100%);
  }
}

.u {
  &-section {
    margin: 3rem 0;
  }
}

.e {
  &-img {
    width: 100%;
    height: 100%;
    &--contain {
      object-fit: contain;
    }
    &--cover {
      object-fit: cover;
    }
  }
  &-tag {
    &--news {
      margin-right: 0.5rem;
      &:last-of-type {
        margin-right: 0;
      }
      &:hover,
      &.now {
        @include category();
      }
    }
  }
}

.c-form {
  &__set {
    position: relative;
  }
  &__date {
    width: calc(100% + 1rem) !important;
  }
  &__icon {
    position: absolute;
    right: 1rem;
    z-index: -1;
  }
}

.c-spinner {
  $_: &;
  height: 2rem;
  aspect-ratio: 1 / 1;
  &__circle {
    stroke: #fff;
  }
  &--placeholder {
    #{$_}__circle {
      stroke: #828282;
    }
  }
  &--dashboard {
    width: 2rem;
    height: 1.5rem;
  }
}

.c-alert {
  &__container {
    padding: map-get($map: $padding, $key: section) !important;
  }
  &__toast {
    width: calc(100% - 0.5rem) !important;

    border-radius: map-get($map: $radius, $key: action);

    top: 5rem;
  }
  &__title {
    font-weight: 400 !important;
  }
}

.c-placeholder {
  $_: &;

  background: #e0e0e0;

  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    animation: slideRight 1.6s linear 0.5s infinite;
    -webkit-animation: slideRight 1.6s linear 0.5s infinite;
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.06), transparent);
    transform: translateX(-100%);

    position: absolute;
    top: 0;
    left: 0;
  }
  &--block {
    width: 100%;
    height: 20rem;
    margin: 1rem 0;

    border-radius: 1.5rem;
    #{$_}__icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    #{$_}__img {
      width: 3rem;
      height: 3rem;

      display: flex;
      align-items: center;
      justify-content: center;
    }
    #{$_}__text {
      color: #828282;
      font-size: 1rem;
    }
  }
  &--line {
    width: 100%;
    height: 2.75rem;
    margin-bottom: 1rem;

    border-radius: 0.75rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &--inline {
    width: 25%;
    height: 2.75rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;

    border-radius: 0.75rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &--end {
    margin-left: auto;
    margin-right: 0;
  }
}

.c-aside {
  $_: &;
  &__tab {
    &.now {
      border-radius: 20px;
    }
  }
  &__list {
    &:first-of-type {
      #{$_}__item {
        border-radius: 20px 20px 0 0;
      }
    }
    &:last-of-type {
      #{$_}__item {
        border-radius: 0 0 20px 20px;
        &.now {
          border-radius: 0;
        }
      }
      #{$_}__menu {
        box-shadow: none !important;
      }
    }
  }
}

.c-select {
  &__wrapper {
    width: max-content;
    position: relative;
  }
  &__select {
    width: 15rem;
    padding: map-get($map: $padding, $key: input);

    border-radius: map-get($map: $radius, $key: action);
    background: map-get($map: map-get($color, gray), $key: 6);

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    @include interaction(btn);
  }
  &__arrow {
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
  }
}
