.innbox {
  padding-top: 80px;
  min-height: calc(100vh - 400px);
  @media #{$pad} {
    padding-top: 60px;
  }
}

.bn-area {
  width: 100%;
  padding-bottom: calc(350 / 1920 * 100%);
  background: $col-green;
  position: relative;
  overflow: hidden;
  @media #{$pad} {
    padding-bottom: calc(450 / 1920 * 100%);
  }
  @media #{$mobile} {
    padding-bottom: 0;
    height: 180px;
  }
  .bntitleboxarea {
    z-index: 5;
    width: 100%;
    height: 100%;
    position: absolute;
    @media #{$pad} {
      padding: 0px 20px;
    }
    .main-box {
      display: flex;
      align-items: center;
      height: 100%;
    }
    .bntitle {
      @include alpha(0);
      animation: alphleft30 0.5s 0.2s linear forwards;
      h2 {
        color: #fff;
        font-size: calc(90 / 1920 * 100vw);
        position: relative;
        text-transform: uppercase;
        line-height: calc(90 / 1920 * 100vw);
        @media #{$pad} {
          font-size: calc(45 / 768 * 100vw);
          line-height: calc(45 / 768 * 100vw);
        }
        @media #{$mobile} {
          font-size: calc(40 / 375 * 100vw);
          line-height: calc(40 / 375 * 100vw);
        }
        svg {
          position: absolute;
          top: -5px;
          left: -18px;
          @media #{$mobile} {
            width: 10px;
            height: auto;
          }
        }
      }
      h3 {
        color: #fff;
        font-weight: normal;
        font-size: calc(30 / 1920 * 100vw);
        margin-top: -0.2vw;
        @media #{$pad} {
          font-size: calc(22 / 768 * 100vw);
        }
        @media #{$mobile} {
          font-size: 18px;
        }
      }
    }
  }
  .mask-area {
    z-index: 2;
    position: absolute;
    height: 100%;
    img {
      height: 100%;
      @media #{$mobile} {
        width: 80%;
      }
    }
  }
  .pic-box {
    position: absolute;
    height: 100%;
    right: 0;
    width: 100%;
    background: url("../image/newsbn.jpg");
    background-size: auto 100%;
    background-position: right top;
    background-repeat: no-repeat;
    @media #{$mobile} {
      background-size: cover;
    }
  }
}
.path {
  background: #fff;
  border-bottom: 1px solid #eee;
  .path-area {
    display: flex;
    align-items: center;
    padding: 12px 0px;
    flex-wrap: wrap;
    @media #{$mobile} {
      padding: 8px 0;
    }
    .home {
      svg {
        display: block;
        path {
          @include bg_change(0.3s);
        }
      }
      &:hover {
        svg {
          path {
            fill: $col-green;
            @include bg_change(0.3s);
          }
        }
      }
    }
    p,
    a {
      display: block;
      font-size: 16px;
      color: #888;
      @media #{$mobile} {
        font-size: 14px;
      }
    }
    span {
      display: block;
      margin: 0px 5px;
      color: #888;
      font-size: 16px;
      @media #{$mobile} {
        font-size: 14px;
      }
    }
  }
}

.contentbox {
  min-height: calc(100vh - 457px);

  &.gray-bg {
    background: #f7f7f7;
  }
  padding: 60px 0 80px 0;
  @media #{$mobile} {
    padding: 35px 0px 60px 0px;
  }
  .main-box {
    @include alpha(0);
    animation: alphatop30 0.5s 0.3s linear forwards;
  }
  .tool-area {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    @media #{$pad} {
      margin-bottom: 30px;
    }

    .category-box {
      background: #fff;
      border-radius: 30px;
      padding: 0px 25px;
      @media #{$pad} {
        margin-bottom: 30px;
      }
      @media #{$mobile} {
        width: 100%;
        height: 50px;
        padding: 0px;
        margin-bottom: 15px;
        overflow: hidden;
      }
      ul {
        display: flex;

        @media #{$mobile} {
          width: 100%;
          overflow: auto;
        }
        li {
          padding: 15px 10px;
          list-style: none;
          cursor: pointer;
          text-align: center;
          line-height: 28px;
          min-width: 80px;
          margin: 0 2px;
          color: #555;
          @include bg_change(0.3s);
          position: relative;
          border-bottom: 2px solid #fff;
          @media #{$mobile} {
            white-space: nowrap;
            padding: 10px;
            font-size: 16px;
            margin: 0;
            line-height: 30px;
            border-bottom: 0;
          }
          &.now {
            border-bottom: 2px solid $col-green;
            color: $col-green;
            font-weight: bold;
            @media #{$mobile} {
              color: #fff;
              background: $col-green;
              border-bottom: 0;
            }
          }
          @media #{$pc} {
            &:hover {
              @include bg_change(0.3s);
              border-bottom: 2px solid $col-green;
              color: $col-green;
            }
          }
        }
      }
    }
  }

  .tool-select {
    display: flex;
    align-items: center;
    margin-left: 30px;
    @media #{$pad} {
      margin-left: 0;
    }
    p {
      @media #{$mobile} {
        font-size: 14px;
        display: none;
      }
    }
    .date-box {
      margin-left: 10px;
      border-radius: 30px;
      border: 1px solid #ddd;
      height: 60px;
      display: flex;
      align-items: center;
      width: 370px;
      justify-content: space-between;
      font-size: 18px;
      padding: 0px 20px;
      @media #{$mobile} {
        width: 100%;
        height: 50px;
        margin-left: 0;
        font-size: calc(14 / 375 * 100vw);
      }
      .inp-item {
        width: calc(50% - 15px);
        position: relative;
        .dateicon {
          position: absolute;
          right: 0px;
          cursor: pointer;
          top: 3px;
          @media #{$mobile} {
            top: 5px;
          }
          svg {
            display: block;
            @media #{$mobile} {
              width: 20px;
              height: auto;
            }
          }
        }
        input {
          width: 100%;
          height: 30px;
          background: none;
          font-size: 18px;
          padding: 0px 30px 0px 0px;
          @media #{$mobile} {
            font-size: calc(14 / 375 * 100vw);
          }
        }
      }
    }
  }
  .news-list {
    margin-bottom: 40px;
    ul {
      list-style: none;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        width: calc(50% - 10px);
        margin-bottom: 20px;
        border-radius: 30px;
        overflow: hidden;
        @include bg_change(0.3s);
        @media #{$pc} {
          &:hover {
            @include bg_change(0.3s);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
            h3 {
              color: $col-green;
              @include bg_change(0.3s);
            }
          }
        }
        @media #{$pad} {
          width: 100%;
        }
        @media #{$mobile} {
          border-radius: 15px;
        }
        &:last-child {
          border-bottom: 0;
        }
        a {
          padding: 20px;
          display: block;
          background: #fff;
          @include bg_change(0.3s);
          @media #{$mobile} {
            padding: 15px;
          }
        }
        .cat-date {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          .category {
            color: #fff;
            font-size: 16px;
            padding: 5px 10px;
            border-radius: 20px;
            background: $col-green;
            &.col-red {
              background: #e29292;
            }
            &.col-yel {
              background: $col-yel;
            }
            &.col-blue {
              background: #61b8bf;
            }
          }
          .date {
            margin-left: 10px;
            color: $col-green;
          }
        }
        h3 {
          @include bg_change(0.3s);
          font-size: 22px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          font-weight: normal;
          margin-bottom: 5px;
          @media #{$mobile} {
            font-size: 18px;
            -webkit-line-clamp: 2;
          }
        }
        p {
          color: #888;
          font-size: 14px;
          line-height: 25px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          @media #{$mobile} {
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }
  }
  .news-de {
    .title-area {
    }
    .cat-date {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .category {
        color: #fff;
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 20px;
        background: $col-green;
        &.col-red {
          background: #e29292;
        }
        &.col-yel {
          background: $col-yel;
        }
        &.col-blue {
          background: #61b8bf;
        }
      }
      .date {
        margin-left: 10px;
        color: $col-green;
      }
    }
    .news-title {
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
      position: relative;
      margin-bottom: 40px;
      h2 {
        color: #333;
        font-size: 30px;
        font-weight: normal;
      }
      .greenline {
        position: absolute;
        width: 90px;
        height: 1px;
        background: $col-green;
        bottom: -1px;
      }
    }
    .editer {
      color: #555;
      font-size: 18px;
      line-height: 30px;
      padding-bottom: 60px;
      margin-bottom: 60px;
      border-bottom: 1px solid #eee;
      @media #{$mobile} {
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 40px;
        margin-bottom: 40px;
      }
      .flex-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          max-width: calc(50% - 15px);
        }
        img {
          border-radius: 30px;
          max-width: calc(50% - 15px);
        }
        @media #{$pad} {
          flex-direction: column;
          p,
          img {
            width: 100%;
            max-width: 100%;
            margin: 10px 0;
          }
        }
      }
      .center {
        display: flex;
        justify-content: center;
      }
      img {
        border-radius: 30px;
      }
      img,
      iframe {
        max-width: 100%;
      }
    }
    .btn-area {
      display: flex;
      justify-content: center;
      a {
        margin: 0px 10px;
        height: 60px;
        border-radius: 30px;
        border: 1px solid $col-green;
        width: 100%;
        max-width: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $col-green;
        @media #{$mobile} {
          margin: 0px 5px;
          height: 50px;
        }
        &:hover {
          @include bg_change(0.3s);
          background: $col-green;
          color: #fff;
          p {
            @include bg_change(0.3s);
            color: #fff;
          }
          svg {
            path {
              fill: #fff;
              @include bg_change(0.3s);
            }
          }
        }
        p {
          color: $col-green;
          @media #{$mobile} {
            font-size: 16px;
          }
        }
        .arrl {
          margin-right: 10px;
          display: block;
          @media #{$mobile} {
            margin-right: 5px;
            width: 8px;
            height: auto;
          }
          path {
            @include bg_change(0.3s);
          }
        }
        .arrr {
          margin-left: 10px;
          display: block;
          @media #{$mobile} {
            margin-left: 5px;
            width: 8px;
            height: auto;
          }
          path {
            @include bg_change(0.3s);
          }
        }
      }
    }
  }
  .terms-editer {
    color: #555;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    @media #{$mobile} {
      font-size: 16px;
      line-height: 25px;
    }
    img,
    iframe {
      max-width: 100%;
    }
    h3.color-green {
      color: $col-green;
      font-weight: normal;
      font-size: 24px;
    }
  }
  .search-centerbox {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    .searchbox {
      position: relative;
      @media #{$pad} {
        width: 100%;
      }
      button {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        right: 20px;
        background: none;
        #Ellipse_2947,
        line {
          @include bg_change(0.3s);
        }
        &:hover {
          #Ellipse_2947,
          line {
            @include bg_change(0.3s);
            stroke: $col-yel;
          }
        }
      }
      input {
        font-size: 16px;
        padding: 0px 50px 0px 20px;
        width: 800px;
        background: #f7f7f7;
        height: 60px;
        border-radius: 30px;
        border: 1px solid #eee;
        @media #{$pad} {
          width: 100%;
        }
      }
    }
  }
  .literature-list {
    margin-bottom: 50px;
    li {
      border-bottom: 1px solid #ddd;
      padding: 0px 0px 15px 0px;
      color: #555;
      list-style: none;
      line-height: 30px;
      margin-bottom: 15px;
      @media #{$pad} {
        font-size: 16px;
        line-height: 25px;
        text-align: justify;
      }
    }
  }
  .qa-tab {
    margin-bottom: 30px;
    ul {
      flex-wrap: wrap;
      list-style: none;
      display: flex;
      li {
        cursor: pointer;
        padding: 10px;
        border-radius: 25px;
        min-width: 120px;
        margin-right: 10px;
        background: #f7f7f7;
        margin-bottom: 10px;
        @include bg_change(0.3s);
        line-height: 30px;
        text-align: center;
        color: #555;
        @media #{$pc} {
          &:hover {
            color: #fff;
            background: $col-green;
            @include bg_change(0.3s);
          }
        }
        @media #{$mobile} {
          min-width: 80px;
          padding: 5px 15px;
        }
        &.now {
          color: #fff;
          background: $col-green;
        }
      }
    }
  }
  .qa-list {
    margin-bottom: 40px;
    li {
      cursor: pointer;
      list-style: none;
      margin-bottom: 10px;
      position: relative;
      background: #f7f7f7;
      border-radius: 30px;
      padding: 10px;
      @include bg_change(0.3s);
      @media #{$pc} {
        &:hover {
          @include bg_change(0.3s);
          background: $col-green;
          .quesbox {
            p {
              color: #fff;
            }
            .arr {
              @include bg_change(0.3s);
              @include rotate(180deg);
              svg {
                line {
                  stroke: #fff;
                }
              }
            }
          }
        }
      }
      &.now {
        @include bg_change(0.3s);
        background: $col-green;
        .quesbox {
          p {
            color: #fff;
          }
          .arr {
            @include bg_change(0.3s);
            @include rotate(180deg);
            svg {
              line {
                stroke: #fff;
              }
            }
          }
        }
        .ansbox {
          display: flex;
        }
      }
      @media #{$mobile} {
        border-radius: 20px;
      }
      .quesbox {
        display: flex;
        position: relative;
        .mark-q {
          margin-right: 10px;
          flex: 0 0 40px;
          background: $col-green;
          color: #fff;
          font-size: 28px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          height: 40px;
          @media #{$mobile} {
            flex: 0 0 30px;
            height: 30px;
            font-size: 20px;
          }
        }
        p {
          color: #555;
          line-height: 30px;
          padding: 5px 30px 5px 0;
          @media #{$mobile} {
            font-size: 16px;
            line-height: 25px;
            padding: 0px 25px 0px 0;
          }
        }
        .arr {
          position: absolute;
          right: 20px;
          top: 50%;
          margin-top: -4px;
          @include bg_change(0.3s);
          @media #{$mobile} {
            right: 10px;
          }
          svg {
            display: block;
            line {
              @include bg_change(0.3s);
            }
          }
        }
      }
      .ansbox {
        background: #fff;
        border-radius: 30px;
        padding: 15px;
        margin-top: 10px;
        display: none;
        @media #{$mobile} {
          padding: 10px;
          border-radius: 20px;
        }
        .flex {
          display: flex;
        }
        .mark-a {
          border-radius: 50%;
          background: $col-yel;
          color: #fff;
          font-size: 28px;
          flex: 0 0 40px;
          margin-right: 10px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          @media #{$mobile} {
            flex: 0 0 30px;
            height: 30px;
            font-size: 20px;
          }
        }
        p {
          color: #555;
          line-height: 30px;
          padding: 5px 0px 5px 0;
          @media #{$mobile} {
            font-size: 16px;
            line-height: 25px;
            padding: 0;
          }
        }
      }
    }
  }
  .main-peobox {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    @media #{$mobile} {
      margin-bottom: 40px;
    }
    .centw {
      display: flex;
      align-items: center;
      padding: 20px 80px 20px 20px;
      position: relative;
      background: #fff;
      border-radius: 200px;
      @media #{$mobile} {
        flex-direction: column;
        border-radius: 80px;
        padding: 30px 20px;
        align-items: center;
        width: 100%;
      }
      .cirline {
        position: absolute;
        top: -10px;
        left: -10px;
        @media #{$mobile} {
          top: -2px;
          left: -2px;
          svg {
            width: 80px;
            height: auto;
          }
        }
      }
      .picbox {
        width: 300px;
        height: 300px;
        position: relative;
        margin-right: 40px;
        @media #{$mobile} {
          width: 200px;
          height: 200px;
          margin-right: 0;
          margin: 0 auto;
        }
        .peoimg {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .iconbox {
          position: absolute;
          width: 90px;
          height: 90px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $col-yel;
          bottom: 0;
          right: 0;
          @media #{$mobile} {
            width: 60px;
            height: 60px;
            img {
              width: 30px;
              height: auto;
            }
          }
        }
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .txt-area {
        @media #{$mobile} {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .pj-title {
          position: relative;
          font-size: 35px;
          font-weight: normal;
          margin-bottom: 10px;
          @media #{$mobile} {
            font-size: 30px;
            text-align: center;
          }
          .line {
            width: 20px;
            position: absolute;
            right: -10px;
            height: 3px;
            border-radius: 2px;
            top: 50%;
            background: $col-green;
            margin-top: -1px;
            @media #{$mobile} {
              right: -25px;
            }
          }
          .linemb {
            display: none;
            width: 20px;
            position: absolute;
            left: -10px;
            height: 3px;
            border-radius: 2px;
            top: 50%;
            background: $col-yel;
            margin-top: -1px;
            @media #{$mobile} {
              display: block;
              left: -25px;
            }
          }
        }
        .company {
          display: inline-block;
          background: $col-green;
          color: #ffffff;
          padding: 5px 15px;
          border-radius: 20px;
          margin-bottom: 10px;
        }
        .job-unit {
          color: #888;
          margin-bottom: 5px;
        }
        .peo-name {
          font-size: 28px;
          color: #555;
        }
      }
    }
  }
  .team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    @media #{$pad} {
      justify-content: space-between;
    }
    li {
      margin-bottom: 40px;
      margin-right: 20px;
      width: calc(25% - 15px);
      list-style: none;
      padding-top: 150px;
      &:nth-child(4n) {
        margin-right: 0;
      }
      @media #{$pc_m} {
        padding-top: 100px;
      }
      @media #{$pc_s} {
        width: calc(33% - 14px);
        &:nth-child(4n) {
          margin-right: 20px;
        }
        &:nth-child(3n) {
          margin-right: 0px;
        }
      }
      @media #{$pad} {
        width: calc(50% - 10px);
        margin: 0;
        margin-bottom: 30px;
        &:nth-child(4n) {
          margin-right: 0px;
        }
      }
      @media #{$mobile} {
        width: calc(50% - 5px);
        padding-top: 60px;
      }
      .wbox {
        border-radius: 30px;
        padding: 150px 20px 20px 20px;
        position: relative;
        background: #fff;
        height: 100%;
        @media #{$pc_m} {
          padding-top: 120px;
        }
        @media #{$mobile} {
          padding: 70px 10px 20px 10px;
          border-radius: 15px;
        }
        .picbox {
          width: 280px;
          height: 280px;
          position: absolute;
          top: -150px;
          left: 50%;
          margin-left: -140px;
          @media #{$pc_m} {
            width: 200px;
            height: 200px;
            margin-left: -100px;
            top: -100px;
          }
          @media #{$mobile} {
            width: 120px;
            height: 120px;
            margin-left: -60px;
            top: -60px;
          }
          .peoimg {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .iconbox {
            position: absolute;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $col-yel;
            bottom: 0;
            right: 0;
            @include bg_change(0.3s);
            &.mail {
              &:hover {
                @include bg_change(0.3s);
                background: $col-green;
              }
            }
            @media #{$mobile} {
              width: 40px;
              height: 40px;
              img {
                width: 24px;
                height: auto;
              }
            }
          }
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
        .txt-area {
          display: flex;
          flex-direction: column;
          align-items: center;
          @media #{$mobile} {
            font-size: 14px;
          }
          .company {
            display: inline-block;
            background: $col-green;
            color: #ffffff;
            padding: 5px 15px;
            border-radius: 20px;
            margin-bottom: 10px;
            text-align: center;
          }
          .job-unit {
            color: #888;
            margin-bottom: 5px;
            text-align: center;
          }
          .peo-name {
            font-size: 28px;
            color: #555;
            text-align: center;
            @media #{$mobile} {
              font-size: 20px;
            }
          }
          .mailtxt {
            color: #555;
            font-size: 16px;
            margin-top: 20px;
            text-align: center;
            @media #{$mobile} {
              font-size: 12px;
              word-break: break-all;
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
  .chose-itembox {
    border-radius: 30px;
    background: #fff;
    padding: 30px;
    margin-bottom: 40px;
    @media #{$mobile} {
      padding: 15px;
      border-radius: 15px;
      margin-bottom: 30px;
    }
    .item-set2 {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    .input-item {
      width: calc(50% - 10px);
      margin-bottom: 10px;
      @media #{$mobile} {
        width: 100%;
      }
      .title {
        color: #555;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        display: inline-block;
        .line {
          position: absolute;
          top: 50%;
          width: 20px;
          background: $col-green;
          height: 1px;
          right: -25px;
        }
      }
      input,
      select {
        display: block;
        width: 100%;
        height: 50px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 0px 15px;
        font-size: 16px;
      }
      select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: url("../image/select-ar.svg") center right 20px no-repeat;
      }
    }
    .check-itembox {
      margin-bottom: 20px;
      .title {
        color: #555;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        display: inline-block;
        .line {
          position: absolute;
          top: 50%;
          width: 20px;
          background: $col-green;
          height: 1px;
          right: -25px;
        }
      }
      .itembox {
        display: flex;
        flex-wrap: wrap;
      }
    }
    .send-btnarea {
      display: flex;
      justify-content: center;
      @media #{$mobile} {
        justify-content: space-between;
      }
      button {
        width: 180px;
        height: 60px;
        border-radius: 30px;
        font-size: 20px;
        margin: 0px 5px;
        background: #fff;
        @include bg_change(0.3s);
        &.clearall {
          border: 2px solid $col-green;
          color: $col-green;
          @media #{$pc} {
            &:hover {
              @include bg_change(0.3s);
              background: $col-green;
              color: #fff;
            }
          }
        }
        &.searchall {
          color: #fff;
          background: $col-green;
          @media #{$pc} {
            &:hover {
              @include bg_change(0.3s);
              background: $col-yel;
            }
          }
        }
        @media #{$mobile} {
          height: 50px;
          width: calc(50% - 10px);
          font-size: 18px;
        }
      }
    }
  }
  .soci-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
    @media #{$mobile} {
      margin-bottom: 30px;
    }
    li {
      background: #fff;
      border-radius: 30px;
      padding: 20px;
      width: calc(50% - 10px);
      border: 2px solid #fff;
      @include bg_change(0.3s);
      margin-bottom: 30px;
      @media #{$pc} {
        &:hover {
          @include bg_change(0.3s);
          border: 2px solid $col-green;
        }
      }
      @media #{$pad} {
        width: 100%;
        margin-bottom: 20px;
      }
      @media #{$mobile} {
        border-radius: 15px;
        padding: 15px;
      }
      .datebox {
        color: $col-green;
        font-size: 16px;
        position: relative;
        display: inline-block;
        margin-bottom: 5px;
        .line {
          width: 20px;
          right: -30px;
          height: 1px;
          background: $col-yel;
          position: absolute;
          top: 50%;
        }
      }
      .titlebox {
        font-size: 18px;
        line-height: 30px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 10px;
        @include bg_change(0.3s);
        &:hover {
          color: $col-green;
          @include bg_change(0.3s);
        }
      }
    }
  }
  .tag-box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    a {
      margin-right: 10px;
      display: block;
      padding: 5px 10px;
      font-size: 16px;
      color: #888;
      line-height: 25px;
      background: #f7f7f7;
      border-radius: 40px;
      @include bg_change(0.3s);
      @media #{$mobile} {
        font-size: 14px;
        padding: 3px 8px;
      }
      &:hover {
        background: $col-green;
        color: #ffffff;
        @include bg_change(0.3s);
      }
    }
  }
  .soci-de {
    .title-area {
      .cat-date {
        .date {
          margin-left: 0;
        }
      }
      .news-title {
        margin-bottom: 30px;
      }
    }
    .tag-box {
      margin-bottom: 40px;
      @media #{$mobile} {
        margin-bottom: 30px;
      }
      .icon {
        margin-right: 10px;
      }
    }
  }
  .observation-box {
    display: flex;
    align-items: flex-start;
    .left-mainmenu {
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
      width: 300px;
      background: #fff;
      @media #{$pad} {
        width: 100%;
        position: fixed;
        bottom: 0px;
        z-index: 50;
        left: 0;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        max-height: 100%;
        overflow: auto;
      }
      .btn-mb {
        display: none;
        @media #{$pad} {
          width: 100%;
          height: 45px;
          background: $col-green;
          color: #fff;
          text-align: center;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius: 10px 10px 0 0;
          p {
            margin-right: 10px;
          }
          .arrup {
            animation: top15 0.5s 0s linear infinite;
          }
        }
      }
      .level-1 {
        width: 100%;
        list-style: none;
        @media #{$pad} {
          display: none;
        }
        li {
          &:last-child {
            .item-box {
              border-bottom: 0;
            }
          }
          .item-box {
            padding: 15px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            border-bottom: 1px solid #eee;
            @include bg_change(0.3s);
            p {
              font-size: 18px;
              line-height: 30px;
            }
            &.linkto {
              .arr {
                @include rotate(-90deg);
              }
            }
            .arr {
              svg {
                @include bg_change(0.3s);
                line {
                  @include bg_change(0.3s);
                }
              }
            }
            @media #{$pc} {
              &:hover {
                background: $col-green;
                color: #fff;
                @include bg_change(0.3s);
                &.linkto {
                  .arr {
                    @include rotate(-90deg);
                  }
                }
                .arr {
                  @include bg_change(0.3s);
                  @include rotate(180deg);
                  svg {
                    line {
                      @include bg_change(0.3s);
                      stroke: #fff;
                    }
                  }
                }
              }
            }
            &.now {
              background: $col-green;
              color: #fff;
              @include bg_change(0.3s);
              &.linkto {
                .arr {
                  @include rotate(-90deg);
                }
              }
              .arr {
                @include bg_change(0.3s);
                @include rotate(180deg);
                svg {
                  line {
                    @include bg_change(0.3s);
                    stroke: #fff;
                  }
                }
              }
            }
          }
          .level-2 {
            list-style: none;
            box-shadow: inset 0 -2px 0 $col-green;
            // border-bottom: 2px solid $col-green;
            display: none;
            overflow: hidden;
            li {
              .item-box2 {
                width: 100%;
                cursor: pointer;
                padding: 0px 20px;
                @include bg_change(0.3s);
                display: block;
                .paddborderb {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding: 10px 0;
                  border-bottom: 1px solid #eee;
                }
                p {
                  font-size: 18px;
                  line-height: 30px;
                  @media #{$mobile} {
                    font-size: 16px;
                  }
                }
                &.linkto {
                  .arr {
                    @include rotate(-90deg);
                  }
                }
                .arr {
                  svg {
                    line {
                      @include bg_change(0.3s);
                    }
                  }
                }
                @media #{$pc} {
                  &:hover {
                    color: $col-green;
                    @include bg_change(0.3s);
                    .arr {
                      @include bg_change(0.3s);
                      @include rotate(180deg);
                    }
                    &.linkto {
                      .arr {
                        @include rotate(-90deg);
                      }
                    }
                  }
                }
                &.now {
                  color: $col-green;
                  @include bg_change(0.3s);
                  .arr {
                    @include bg_change(0.3s);
                    @include rotate(180deg);
                  }
                  &.linkto {
                    .arr {
                      @include rotate(-90deg);
                    }
                  }
                }
              }
              &:last-child {
                .item-box2 {
                  .paddborderb {
                    border-bottom: 0;
                  }
                }
              }
            }
          }
          .level-3 {
            list-style: none;
            background: #f6faf8;
            display: none;
            overflow: hidden;
            li {
              &:first-of-type {
                margin-top: 15px;
              }
              &:last-of-type {
                margin-bottom: 15px;
              }
              a {
                font-size: 16px;
                display: block;
                padding: 0px 20px 0px 30px;
                margin-bottom: 5px;
                display: block;
                line-height: 25px;
                @media #{$pc} {
                  &:hover {
                    color: $col-green;
                    font-weight: bold;
                  }
                }
                &.now {
                  color: $col-green;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
    .right-infbox {
      width: 100%;
      padding-left: 40px;
      @media #{$pad} {
        padding-left: 0;
      }
      .infbox-title {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 30px;

        .titlearea {
          display: flex;
          align-items: center;
          @media #{$mobile} {
            margin-bottom: 5px;
          }
          .line {
            width: 25px;
            height: 1px;
            background: $col-green;
            margin: 0px 5px;
          }
          h2 {
            position: relative;
            font-size: 30px;
            color: $col-green;
            @media #{$mobile} {
              font-size: 26px;
            }
            .mark-cir {
              position: absolute;
              top: -16px;
              left: -16px;
              @media #{$mobile} {
                top: -15px;
                left: -10px;
                svg {
                  width: 10px;
                  height: auto;
                }
              }
            }
          }
        }
        .meta {
          padding: 5px 15px;
          border-radius: 30px;
          line-height: 30ps;
          border: 1px solid $col-green;
          color: $col-green;
          @include bg_change(0.3s);
          @media #{$mobile} {
            font-size: 14px;
            line-height: 22px;
            padding: 5px 10px;
          }
          &:hover {
            background: $col-green;
            color: #ffff;
            @include bg_change(0.3s);
          }
        }
      }
      .chart-box {
        padding: 0px 20px;
        margin-bottom: 40px;
        @media #{$mobile} {
          overflow: auto;
        }
        img,
        iframe,
        canvas {
          max-width: 100%;
          height: auto;
          @media #{$mobile} {
            max-width: initial;
            width: 1000px;
          }
        }
      }
      .data-searchbox {
        background: #f7f7f7;
        border-radius: 30px;
        padding: 30px 20px;
        @media #{$mobile} {
          padding: 20px 15px;
          border-radius: 15px;
        }
        .center-title {
          text-align: center;
          margin-bottom: 20px;
          font-size: 26px;
          color: $col-green;
          font-weight: bold;
          @media #{$mobile} {
            font-size: 22px;
          }
        }
        .input-box {
          width: 100%;
          padding-bottom: 30px;
          margin-bottom: 40px;
          border-bottom: 1px solid #ddd;
          ul.set-li {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 20px;
            @media #{$mobile} {
              justify-content: space-between;
            }
            li {
              width: calc(20% - 16px);
              margin-right: 20px;
              margin-bottom: 15px;
              &:nth-child(5n) {
                margin-right: 0;
              }
              @media #{$pad} {
                width: calc(20% - 8px);
                margin-right: 10px;
                &:nth-child(5n) {
                  margin-right: 0;
                }
              }
              @media #{$mobile} {
                width: calc(50% - 5px);
                margin-right: 0;
              }
              p {
                color: #555;
                margin-bottom: 5px;
                text-align: center;
                font-size: 16px;
                @media #{$mobile} {
                  font-size: 14px;
                }
              }
              input {
                width: 100%;
                height: 50px;
                border: 1px solid #eee;
                background: #fff;
                border-radius: 5px;
                padding: 0px 15px;
                @media #{$mobile} {
                  height: 40px;
                }
              }
            }
          }
        }
        .send-btnarea {
          display: flex;
          justify-content: center;
          @media #{$mobile} {
            justify-content: space-between;
          }
          button {
            width: 180px;
            height: 60px;
            border-radius: 30px;
            font-size: 20px;
            margin: 0px 5px;
            background: #fff;
            @include bg_change(0.3s);
            &.clearall {
              background: #eee;
              color: #333;
              @media #{$pc} {
                &:hover {
                  @include bg_change(0.3s);
                  background: $col-green;
                  color: #fff;
                }
              }
            }
            &.searchall {
              color: #fff;
              background: $col-green;
              @media #{$pc} {
                &:hover {
                  @include bg_change(0.3s);
                  background: $col-yel;
                }
              }
            }
            @media #{$mobile} {
              height: 50px;
              width: calc(50% - 10px);
              font-size: 18px;
            }
          }
        }
        .result-area {
          .toptool {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            flex-wrap: wrap;
            .data-num {
              font-size: 16px;
              @media #{$mobile} {
                margin-bottom: 10px;
              }
            }
          }
          .btnr-box {
            display: flex;
            button {
              margin-left: 10px;
              color: $col-green;
              border: 1px solid $col-green;
              line-height: 30px;
              border-radius: 40px;
              padding: 5px 15px;
              font-size: 18px;
              background: none;
              @include bg_change(0.3s);
              &:first-child {
                margin-left: 0;
              }
              @media #{$pc} {
                &:hover {
                  color: #fff;
                  background: $col-green;
                  @include bg_change(0.3s);
                }
              }
              @media #{$mobile} {
                line-height: 25px;
                font-size: 14px;
                padding: 5px 10px;
              }
            }
          }
          .ovhbox {
            margin-bottom: 30px;
            @media #{$mobile} {
              overflow: auto;
            }
          }
          .table-style1 {
            width: 100%;
            background: #fff;
            border-radius: 5px;
            overflow: hidden;
            @media #{$mobile} {
              width: 1000px;
            }
            td {
              text-align: center;
              padding: 10px;
              border-bottom: 1px solid #eee;
              color: #555;
            }
            tr:first-child {
              td {
                border-bottom: 0;
                background: $col-green;
                color: #fff;
              }
            }
            tr:last-child {
              td {
                border-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
  .about-mainbox {
    display: flex;
    align-items: center;
    @media #{$pad} {
      flex-direction: column-reverse;
    }
    .leftbox {
      width: 50%;
      padding-right: 40px;
      @media #{$pad} {
        width: 100%;
        padding-right: 0;
      }
      p {
        color: #555;
        line-height: 30px;
        @media #{$mobile} {
          font-size: 16px;
          line-height: 25px;
        }
      }
      .title-area {
        display: flex;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
        margin-bottom: 30px;
        align-items: center;
        @media #{$mobile} {
          display: block;
          padding-bottom: 15px;
          margin-bottom: 20px;
        }
        h2 {
          font-size: 35px;
          font-weight: normal;
          @media #{$pad} {
            font-size: 30px;
          }
        }
        .ab-category {
          flex: 0 0 106px;
          color: #fff;
          background: $col-green;
          padding: 5px 15px;
          border-radius: 20px;
          margin-right: 10px;
          @media #{$mobile} {
            display: inline-block;
          }
        }
      }
    }
    .rightbox {
      width: 50%;
      @media #{$pad} {
        width: 100%;
        margin-bottom: 20px;
      }
      .pic-area {
        width: 100%;
        padding-bottom: calc(515 / 800 * 100%);
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        .img-area {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: url("../image/abimg.png") no-repeat;
          background-size: cover;
        }
      }
    }
  }
  .box-1000 {
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 30px;
    background: #fff;
    position: relative;
    padding: 60px;
    color: #555;
    @media #{$mobile} {
      padding: 30px 15px;
    }
    .line-titlarea {
      position: absolute;
      top: -25px;
      left: 0;
      width: 100%;
      @media #{$mobile} {
        top: 0px;
        padding: 0px 20px;
        text-align: center;
        position: relative;
        margin-bottom: 20px;
        .peo-title {
          text-transform: uppercase;
          text-align: center;
          line-height: 40px;
        }
      }
    }
    p.center {
      text-align: center;
    }
    .inpbox {
      max-width: 720px;
      margin: 0 auto;
      p {
        margin-bottom: 10px;
        color: #555;
        .col-red {
          color: #cf0000;
        }
      }
      .flex-input {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        @media #{$mobile} {
          flex-direction: column;
          margin-bottom: 20px;
        }
        input {
          width: calc(50% - 10px);
          border-radius: 10px;
          border: 1px solid #ddd;
          height: 50px;
          padding: 0px 15px;
          @media #{$mobile} {
            margin-bottom: 10px;
            width: 100%;
          }
        }
      }
    }
    .send {
      background: $col-green;
      color: #fff;
      height: 50px;
      border-radius: 25px;
      width: 160px;
      display: block;
      margin: 0 auto;
      font-size: 18px;
      @include bg_change(0.3s);
      &:hover {
        background: $col-yel;
        @include bg_change(0.3s);
      }
    }
    .mailbox {
      max-width: 750px;
      background: #f7f7f7;
      border-radius: 30px;
      color: $col-green;
      text-align: center;
      padding: 20px;
      margin: 0 auto;
      margin-bottom: 30px;
      word-break: break-all;
    }
  }
}
.ab-otherbox {
  background: #f7f7f7;
  padding-top: 135px;
  margin-top: -130px;
  padding-bottom: 30px;
  @media #{$pad} {
    margin-top: 0;
    padding-top: 50px;
  }
  .ab-item {
    background: #fff;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 60px;
    @media #{$mobile} {
      border-radius: 15px;
      margin-bottom: 30px;
    }
    .titlebox {
      background: $col-green;
      color: #fff;
      font-size: 30px;
      line-height: 45px;
      padding: 15px;
      text-align: center;
      @media #{$pad} {
        font-size: 26px;
        line-height: 30px;
      }
      @media #{$mobile} {
        font-size: 22px;
        padding: 10px 15px;
      }
    }
    .editer-area {
      padding: 30px 30px 40px 30px;
      color: #555;
      line-height: 30px;
      @media #{$mobile} {
        padding: 20px 15px;
        font-size: 16px;
        line-height: 25px;
      }
      p.center {
        text-align: center;
      }
      .main-1280 {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        img,
        iframe,
        canvas {
          max-width: 100%;
          display: block;
        }
      }
    }
  }
}
.dowload-pop {
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .flex100 {
    padding: 0px 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .w_bgbox {
    width: 430px;
    padding: 30px 40px;
    border-radius: 30px;
    background: #fff;
    position: relative;
    @media #{$mobile} {
      width: 100%;
      padding: 20px 15px;
      border-radius: 20px;
    }
    .xx {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      @media #{$mobile} {
        right: 15px;
        top: 15px;
      }
      svg {
        display: block;
        @media #{$mobile} {
          width: 40px;
          height: 40px;
        }
      }
      &:hover {
        svg {
          path.cirline {
            fill: $col-yel;
          }
          g.xline {
            stroke: $col-yel;
          }
        }
      }
    }
    .title {
      font-size: 35px;
      color: $col-green;
      text-align: center;
      margin-bottom: 15px;
      @media #{$mobile} {
        font-size: 26px;
      }
    }
    .input-item {
      margin-bottom: 10px;
      input,
      select {
        display: block;
        width: 100%;
        height: 50px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 0px 15px;
        font-size: 16px;
        @media #{$mobile} {
          height: 40px;
        }
      }
      select {
        color: #555;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: url("../image/select-ar.svg") center right 20px no-repeat;
      }
    }
    p {
      margin-bottom: 5px;
      color: #555;
    }
    textarea {
      border: 1px solid #ddd;
      border-radius: 10px;
      margin-bottom: 20px;
      height: 120px;
      resize: none;
      width: 100%;
      padding: 15px;
      @media #{$mobile} {
        height: 100px;
      }
    }
    button {
      border-radius: 10px;
      background: $col-green;
      color: #fff;
      font-size: 18px;
      height: 50px;
      width: 100%;
      @include bg_change(0.3s);
      &:hover {
        @include bg_change(0.3s);
        background: $col-yel;
      }
    }
  }
}
.link-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
  li {
    list-style: none;
    width: calc(50% - 10px);
    background: #fff;
    border-radius: 30px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    @include bg_change(0.3s);
    @media #{$pad} {
      width: 100%;
    }
    @media #{$mobile} {
      padding: 15px;
      border-radius: 15px;
    }
    &:hover {
      @include bg_change(0.3s);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
      .leftbox {
        p {
          color: $col-green;
          @include bg_change(0.3s);
        }
      }
    }
    .leftbox {
      .date {
        margin-bottom: 5px;
        color: #888;
      }
      p {
        @include bg_change(0.3s);
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: #555;
      }
    }
    .right-icob {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      flex: 0 0 60px;
      margin-left: 20px;
      border-radius: 50%;
      border: 1px solid $col-green;
      @include bg_change(0.3s);
      @media #{$mobile} {
        margin-left: 10px;
        width: 45px;
        height: 45px;
        flex: 0 0 45px;
      }
      .form-icon,
      .link-icon {
        @media #{$mobile} {
          width: 20px;
          height: auto;
        }
        path {
          @include bg_change(0.3s);
        }
      }
      &:hover {
        @include bg_change(0.3s);
        background: $col-green;
        .form-icon,
        .link-icon {
          path {
            fill: #fff;
            @include bg_change(0.3s);
          }
        }
      }
    }
  }
}
.line-titlarea {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  @media #{$mobile} {
    margin-bottom: 30px;
  }
  .peo-title {
    display: inline-block;
    position: relative;
    font-size: 35px;
    color: #000;
    @media #{$mobile} {
      font-size: 30px;
    }
    .line1 {
      width: 20px;
      height: 3px;
      border-radius: 3px;
      background: $col-green;
      position: absolute;
      left: -30px;
      top: 50%;
      margin-top: -1px;
    }
    .line2 {
      width: 20px;
      height: 3px;
      border-radius: 3px;
      background: $col-yel;
      position: absolute;
      right: -30px;
      top: 50%;
      margin-top: -1px;
    }
  }
}
.page-num {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media #{$mobile} {
  }
  .back {
    display: flex;
    align-items: center;
    @media #{$mobile} {
      svg {
        width: 10px;
      }
    }
    p {
      margin-left: 10px;
      @media #{$mobile} {
        margin-left: 5px;
      }
    }
    @media #{$pc} {
      &:hover {
        color: $col-green;
      }
    }
  }
  .next {
    display: flex;
    align-items: center;
    @media #{$mobile} {
      svg {
        width: 10px;
      }
    }
    p {
      margin-right: 10px;
      @media #{$mobile} {
        font-size: 16px;
        margin-right: 5px;
      }
    }
    @media #{$pc} {
      &:hover {
        color: $col-green;
      }
    }
  }
  a {
    margin: 0px 5px;
    @media #{$mobile} {
      margin: 0px 3px;
      margin-bottom: 10px;
    }
  }
  .num {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 40px;
    height: 40px;
    color: #888;
    border: 1px solid #ddd;
    flex: 0 0 40px;
    @include bg_change(0.3s);
    @media #{$pc} {
      &:hover {
        border: 1px solid $col-green;
        background-color: $col-green;
        color: #fff;
        @include bg_change(0.3s);
      }
    }
    @media #{$mobile} {
      width: 30px;
      height: 30px;
      flex: 0 0 30px;
      font-size: 16px;
    }
    &.now {
      border: 1px solid $col-green;
      background-color: $col-green;
      color: #fff;
    }
  }
}
.login-pop {
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .flex100 {
    padding: 0px 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
  }
  .w_bgbox {
    width: 800px;
    padding: 30px 30px;
    border-radius: 30px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
    @media #{$mobile} {
      width: 100%;
      padding: 20px 15px;
      border-radius: 20px;
    }
    .xxx {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      @media #{$mobile} {
        right: 15px;
        top: 15px;
      }
      svg {
        display: block;
        @media #{$mobile} {
          width: 40px;
          height: 40px;
        }
      }
      &:hover {
        svg {
          path.cirline {
            fill: $col-yel;
          }
          g.xline {
            stroke: $col-yel;
          }
        }
      }
    }
    .leftpic {
      flex: 0 0 340px;
      width: 340px;
      height: 475px;
      border-radius: 30px;
      overflow: hidden;
      @media #{$mobile} {
        display: none;
      }
      img {
        display: block;
        height: auto;
        width: 100%;
      }
    }
    .right-content {
      width: 100%;
      padding-left: 40px;
      @media #{$mobile} {
        padding-left: 0;
      }
    }
    .titlebox {
      color: $col-green;
      font-size: 35px;
      margin-bottom: 15px;
      text-align: center;
    }
    .input-item {
      margin-bottom: 15px;
      input,
      select {
        display: block;
        width: 100%;
        height: 50px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 0px 15px;
        font-size: 16px;
        @media #{$mobile} {
          height: 45px;
        }
      }
      select {
        color: #555;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: url("../image/select-ar.svg") center right 20px no-repeat;
      }
    }
    .check-area {
      margin-bottom: 15px;
    }
    .btn-area {
      button {
        border-radius: 10px;
        font-size: 18px;
        height: 50px;
        display: block;
        width: 100%;
        margin-bottom: 10px;
        @media #{$mobile} {
          font-size: 16px;
        }
      }
      button.login {
        background: $col-green;
        color: #fff;
        @include bg_change(0.3s);
        &:hover {
          @include bg_change(0.3s);
          background: $col-yel;
        }
      }
      button.logingoogle {
        border: 1px solid $col-green;
        color: $col-green;
        @include bg_change(0.3s);
        background: url("../image/Google_Logo.svg") center left 15px no-repeat;
        &:hover {
          @include bg_change(0.3s);
          background: url("../image/Google_Logos.svg") center left 15px no-repeat;
          background-color: $col-green;
          color: #fff;
        }
      }
    }
    .btn-area2 {
      display: flex;
      justify-content: space-between;
      .link {
        span.col-red {
          color: #cf0000;
          font-size: 16px;
        }
        a {
          color: $col-green;
          font-size: 16px;
          @include bg_change(0.3s);
          &:hover {
            @include bg_change(0.3s);
            color: $col-yel;
          }
        }
      }
      button {
        background: 0;
        color: $col-green;
        font-size: 16px;
        @include bg_change(0.3s);
        &:hover {
          @include bg_change(0.3s);
          color: $col-yel;
        }
      }
    }
    .forget-set {
      p {
        text-align: center;
        margin-bottom: 20px;
        color: #555;
      }
    }
  }
}

.check-item {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 20px;
  color: #555;
  margin-bottom: 10px;
  @media #{$mobile} {
    margin-right: 15px;
    padding-left: 25px;
  }
}
/* Hide the browser's default checkbox */
.check-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
}
/* On mouse-over, add a grey background color */
.check-item:hover input ~ .checkmark {
  border: 1px solid $col-green;
}
/* When the checkbox is checked, add a blue background */
.check-item input:checked ~ .checkmark {
  background-color: $col-green;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-item input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-item .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
