.e {
  &-link {
    color: map-get($map: $color, $key: primary);

    display: flex;
    align-items: center;
    &:hover {
      color: map-get($map: $color, $key: hover);
      .e-icon {
        fill: map-get($map: $color, $key: hover);
      }
    }
  }
  &-icon {
    fill: map-get($map: $color, $key: primary);
    &--start {
      margin-right: 0.25rem;
    }
    &--light {
      fill: map-get($map: $color, $key: light);
    }
  }
  &-btn {
    padding: map-get($map: $padding, $key: btn);

    border-radius: map-get($map: $radius, $key: btn);

    @include font(text);

    display: flex;
    align-items: center;

    transition: map-get($map: $transition, $key: default);
    &:hover {
      background: map-get($map: $color, $key: hover);
      color: map-get($map: $color, $key: light);
    }
    @include interaction(btn);
    &--icon {
      width: map-get($map: $height, $key: action);
      min-width: map-get($map: $height, $key: action);
      height: map-get($map: $height, $key: action);
      padding: map-get($map: $padding, $key: icon);

      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--primary {
      background: map-get($map: $color, $key: primary);
      color: map-get($map: $color, $key: light);
    }
    &--muted {
      background: map-get($map: $color, $key: muted);
      color: map-get($map: map-get($color, font), $key: text);
    }
    &--outline {
      background: map-get($map: $color, $key: light);
      border: 0.0625rem solid map-get($map: $color, $key: primary);
      color: map-get($map: map-get($color, font), $key: primary);
    }
  }
}

.u {
  $height: calc(100vh - 9rem);
  &-page {
    margin-top: 5rem;
    padding: 2rem 0;
    min-height: $height;
  }
  &-container {
    min-height: $height;
  }
  &-main {
    height: 100%;
    padding: map-get($map: $padding, $key: main);
    background: map-get($map: map-get($color, bg), $key: muted);
    border-radius: map-get($map: $radius, $key: main);
  }
}

.c-btns {
  display: flex;
  align-items: center;
  &__btn {
    &:first-of-type {
      margin-right: map-get($map: $margin, $key: text);
    }
  }
}

.c-title {
  margin-bottom: map-get($map: $margin, $key: item);
  position: relative;
  padding-left: 1rem;
  &__text {
    color: map-get($map: $color, $key: primary);
    font-size: 2rem;
    font-weight: 500;
  }
  &__circle {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
  }
}

.c-table {
  $_: &;
  $padding__section: map-get(
    $map: $padding,
    $key: section
  );
  overflow-x: auto;
  &__container {
    width: 100%;

    background: map-get($map: $color, $key: light);
    box-shadow: map-get($map: $shadow, $key: table);
    border-radius: map-get($map: $radius, $key: action);
  }
  &__td {
    padding: $padding__section;
    min-width: 5rem;
    line-height: 150%;
    @include font(text);
    &--text {
      min-width: 20rem;
    }
  }
  &__tr {
    border-bottom: 0.0625rem solid map-get($map: map-get($color, border), $key: table);
    &:not(#{$_}__tr--head) {
      &:hover {
        box-shadow: map-get($map: $shadow, $key: block);
      }
      &:last-of-type {
        border: none;
        border-radius: 0 0 map-get($map: $radius, $key: action) map-get($map: $radius, $key: action);
      }
    }
  }
  &__th {
    padding: $padding__section;

    border-bottom: 0.0625rem solid map-get($map: map-get($color, border), $key: table);
    background: map-get($map: $color, $key: primary);
    color: map-get($map: $color, $key: light);
    @include font(title);
    &:first-of-type {
      border-radius: map-get($map: $radius, $key: action) 0 0 0;
    }
    &:last-of-type {
      border-radius: 0 map-get($map: $radius, $key: action) 0 0;
    }
  }
}

.c-form {
  $margin__set: map-get(
    $map: $margin,
    $key: item
  );
  &__set {
    width: 100%;
    margin-bottom: $margin__set;

    display: flex;
    flex-direction: column;
  }
  &__label {
    margin-bottom: map-get($map: $margin, $key: text);
    @include font(text);
  }
  &__input {
    width: 100%;
    padding: map-get($map: $padding, $key: input);

    border-radius: map-get($map: $radius, $key: input);
    border: map-get($map: $border, $key: input);

    @include font(text);
  }
  &__hint {
    color: map-get($map: $color, $key: error);
    font-size: 0.875rem;
  }
  &__img {
    width: 100%;
    padding: map-get($map: $padding, $key: input);
    margin-bottom: $margin__set;

    background: map-get($map: $color, $key: light);
    border-radius: map-get($map: $radius, $key: input);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include interaction(block);

    &::last-of-type {
      margin-bottom: 0;
    }
  }
  &__thumbnail {
    height: 6rem;
    aspect-ratio: 4 / 3;
    margin-right: 1rem;

    border-radius: map-get($map: $radius, $key: block);
    background: map-get($map: $color, $key: light);
  }
  &__text {
    @include font(subtext);
    &--title {
      @include font(title);
      color: map-get($map: $color, $key: primary);
    }
    &--overflow {
      overflow-x: auto;
      margin-right: map-get($map: $margin, $key: icon);
      @include scrollbar(hidden);
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__file {
    width: 100%;
    height: 5rem;

    border: map-get($map: $height, $key: line) dashed map-get($map: map-get($color, border), $key: muted);
    border-radius: map-get($map: $radius, $key: block);
    background: map-get($map: $color, $key: light);

    @include font(subtext);

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background: map-get($map: map-get($color, bg), $key: muted);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    padding: map-get($map: $padding, $key: input);
    margin-bottom: $margin__set;

    background: map-get($map: $color, $key: light);
    border-radius: map-get($map: $radius, $key: input);
    @include interaction(block);

    display: flex;
    align-items: center;
    justify-content: space-between;

    &::last-of-type {
      margin-bottom: 0;
    }
  }
  &__checkbox-set {
    display: flex;
    align-items: center;
  }
}

.c-checkbox {
  $color__input: map-get(
    $map: $color,
    $key: primary
  );
  margin-right: map-get($map: $margin, $key: item);
  &__input {
    width: map-get($map: $height, $key: icon);
    height: map-get($map: $height, $key: icon);

    border: map-get($map: $border, $key: input);
    border-radius: map-get($map: $radius, $key: input);
    &:focus {
      background-color: map-get($map: $color, $key: light);
      border-color: $color__input;
      box-shadow: map-get($map: $shadow, $key: focus);
    }
    &:checked {
      background-color: $color__input;
      border-color: $color__input;
      box-shadow: map-get($map: $shadow, $key: focus);
    }
  }
  &__label {
    @include font(text);
    margin-right: map-get($map: $margin, $key: text);
  }
  &:last-of-type {
    margin-right: 0;
  }
}

.c-tabs {
  display: flex;
  flex-direction: column;
  &__btn {
    width: 100%;
    padding: map-get($map: $padding, $key: action);
    margin-bottom: map-get($map: $margin, $key: item);

    background: map-get($map: map-get($color, gray), $key: 6);
    border-radius: map-get($map: $radius, $key: action);

    @include font(text);
    color: map-get($map: map-get($color, font), $key: text);

    display: flex;
    align-items: center;

    transition: map-get($map: $transition, $key: default);
    &:hover {
      background: map-get($map: map-get($color, gray), $key: 5);

      color: map-get($map: map-get($color, font), $key: text);
      @include interaction(btn);
    }
    &.active {
      background: map-get($map: $color, $key: primary);
      color: map-get($map: map-get($color, font), $key: light);
    }
  }
}
