@mixin text-truncate($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

$height__line: 0.125rem;

$color--light: #fff;
$color--error: #cf0000;
$color__bg--muted: #f8f9fa;
$color__border--muted: #e0e0e0;
$color__text--muted: #828282;
$color__text--primary: #529a81;

$radius__block: 0.5rem;

.u {
  &-page {
    margin-top: 5rem;
    padding: 2rem 0;
    min-height: 100vh;
  }
}

.c-table {
  &__td {
    min-width: 5rem;
    line-height: 150%;
    &--text {
      min-width: 15rem;
      @include text-truncate(2);
    }
  }
}

.c-form {
  &__set {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__input {
    width: 100%;
    margin-bottom: 0.25rem;
  }
  &__hint {
    color: $color--error;
    font-size: 0.875rem;
  }
  &__thumbnail {
    height: 6rem;
    aspect-ratio: 4 / 3;
    padding: 0.5rem;
    margin-right: 1rem;

    border-radius: $radius__block;
    background: $color--light;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__text {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    color: $color__text--muted;
    &--title {
      color: $color__text--primary;
      font-weight: bold;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__seg {
    margin-right: 1rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__file {
    width: 100%;
    height: 5rem;

    border: $height__line dashed $color__border--muted;
    border-radius: $radius__block;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    color: $color__text--muted;
  }
  &__list {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background: $color__bg--muted;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
